<div class="register ui text container">
  <h1 class="ui header">OneCart :: Register</h1>
  <div class="ui divider"></div>
  <div class="ui two column centered grid">
    <div class="column">
      <form class="ui form {{if hasErrors "warning"}}" autocomplete="off">
        <div class="field {{if errors.ownerid "error" }}">
          <label>Email</label>
          {{input type="email" autocomplete="off" value=model.ownerid}}
        </div>
        <div class="field {{if errors.password "error" }}">
          <label>Password</label>
          {{input type="password" autocomplete="new-password" value=model.password}}
        </div>
        <div class="field">
          {{g-recaptcha onSuccess=(action "onCaptchaResolved")
                onExpired=(action "onCaptchaExpired") }}
        </div>
        {{#if hasErrors}}
        <div class="ui warning message">
          <ul class="list">
          {{#each sortedErrors as |error|}}
            <li>{{error.[0]}} is {{error.[1]}}</li>
          {{/each}}
          </ul>
        </div>
        {{/if}}
        <div class="ui buttons">
          <button id="btn-register" class="ui teal button" {{action "register" model}}>Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
